.red:before {
    border-bottom: 10px solid red;
}
.red {
	background-color: red;
}
.red:after {
    border-top: 10px solid red;
}


.blue:before {
    border-bottom: 10px solid blue;
}
.blue {
	background-color: blue;
}
.blue:after {
    border-top: 10px solid blue;
}


.notgamespace:before {
    border-bottom: 10px solid white;
}
.notgamespace {
	background-color: white;
}
.notgamespace:after {
    border-top: 10px solid white;
}


.notconquered:before {
    border-bottom: 10px solid #EFEFEF;
}
.notconquered {
	background-color: #EFEFEF;
	cursor: hand;
}
.notconquered:after {
    border-top: 10px solid #EFEFEF;
}


.hex:before {
    content: " ";
	display: block;
    width: 0; height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: -10px;
}
.hex {
	float: left;
    margin-top: 10px;
	margin-right: 2px;
    width: 40px;
    height: 20px;
	line-height: 20px;
	text-align: center;
    position: relative;
	color: white;
}
.hex:after {
    content: " ";
	display: block;
    width: 0;
    position: absolute;
    bottom: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}


.hex-row {
	padding-top: 2px;
    clear: left;
}
.hex-row.even {
	padding-top: 2px;
    margin-left: 20px;
}


.container-red-dice-roll {
	float: left;
	padding-right: 110px;
}


.text-bold {
	font-weight: bold;
}
.text-blue {
	color: blue;
}
.text-red {
	color: red;
}

#gameBoard {
	float: left;
	width: 540px;
	padding-bottom: 32px;
}

#red-stats {
	float: left;
	padding-right: 110px;
	width: 130px;
}
#blue-stats {
	float: left;
	width: 130px;
}


#dialog-game-config h2 {
	font-style: underline;
	padding-top: 16px;
}
.config-options {
	cursor: pointer;
	font-weight: bold;
}

.no-display {
	display: none;
}